* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --ecriture: #716040;
    --background: #f9f4ef;
    --backgroundnav: #fff;
    --backgroundfooter: #eaddcf;
    --backgroundbutton: #f25042;
    --opacityim: 1;
}

body {
    background-color: var(--background);
    height:auto;
}

.logo {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #f25042;
    text-shadow:
        1px 1px #2d2d2d66,
        1px 2px #2d2d2d66,
        1px 25px 35px #f9f4ef,
        1px 30px 60px #f9f4ef;
}

nav {
    z-index: 1;
    background-color: var(--backgroundnav);
    position: fixed;
    width: 100%;
}

.nav-list,
.changeTheme {
    flex-wrap: wrap;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a:hover,
.changeTheme:hover {
    color: var(--backgroundbutton);
}


.nav-item,
.changeTheme {
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item a,
.changeTheme {
    color: var(--ecriture);
    letter-spacing: 1px;
}

.nav-item:last-child {
    margin-left: auto;
    margin-right: 20px;
}

p {
    width: 75%;
    color: var(--ecriture);
    font-size: 2em;
}

.footer {
    background-color: var(--backgroundfooter);
    color: var(--ecriture);
}

.foot {
    display: flex;
    justify-content: center;
    gap: 15%;
    text-align: center;
}

.grp {
    text-align: center;
}

.changeTheme {
    cursor: pointer;
}

.slogan1 {
    align-items: flex-start;
    color: var(--ecriture);
    position: absolute;
    top:15ch;
    left: 12ch;
    font-size: 2vw;
    width: 20%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.slogan2 {
    align-items: flex-start;
    color: var(--ecriture);
    position: absolute;
    top: 49ch;
    left: 6ch;
    font-size: 3vw;
    width: 40%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.image1{
    opacity: var(--opacityim);
    position: relative;
    width:100vw;
    pointer-events: none;
    flex:auto;
}


.image2 {
    opacity: var(--opacityim);
    position: relative;
    width:100vw;
    pointer-events: none;
    flex:auto;
}

a{
    color: var(--ecriture);
}
